html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
h1 {font-size: 1.5em;margin-bottom: 10px;}
/* p{font-size: 1em;line-height: 1.3em;margin-bottom: 10px;} */
p{font-size: 0.95em;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
/* a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent} */
a{margin:0;padding:0;font-size:0.9em;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

#desktop {
	/*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Consolas, 'Lucida Console', monospace;

    position: fixed;
    height: 100%;
    width: 100%;
    /* background: #CCC; */
	overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none; /* we don't need click events on the whole bacground, just on its children buttons, windows etc. (so we reset "pointer-events: auto" below) */
}
#desktop * {
    pointer-events: auto;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
	border-radius: 5px;
	z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}
.windowHeader {
    background-color: #b7b7e0;
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-color: #8888d6;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span.winclose:hover {
	background: #f15454;
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid #000;
}
.winmaximize > span {
	border: 2px solid #000;
	border-top: 3px solid #000;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}
.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}
.taskbarPanel {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    line-height: 24px;
    margin: 2px 0 0 10px;
    font-size: 17px;
    padding: 0 10px;
    background: #CCC;
    font-weight: bold;
	cursor: pointer;
}
.taskbarPanel.activeTab {
	background: #FFF;
}
.taskbarPanel.minimizedTab {
	background: #AAA;	
}
.taskbarPanel.minimizedTab:hover {
	background: #DDD;
}
.taskbarPanel.closed {
	display: none;
}
#taskbar {
	position: absolute;
	height: 32px;
	border-top: 2px solid #000;
	bottom: 0;
	left: 0;
	right: 0;
	background: #EEE;
}
#icons {
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
}
#icons a {
    display: block;
    cursor: pointer;
    padding: 2px 10px;
}
#icons a:hover {
	background: #000;
	color: #FFF;
}


#shoutOuts {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 15px;
    font-size: 12px;
    color: #30478c;
}


.preserveSpace {
    white-space: pre;
}




/* 
 * My own styles for the homepage
 */

.bentText {
    writing-mode: vertical-rl;
    transform: rotate(-60deg); /* can't rotate <span> as it's an inline element (https://stackoverflow.com/a/24962108/3174659) but for some reason after applying writing-mode: vertical-rl; we are able to rotate it */
    position: relative;
    left: 10px;
    bottom: 20px;
    /* don't increase the size of the parent paragraph
    https://stackoverflow.com/questions/6040005/relatively-position-an-element-without-it-taking-up-space-in-document-flow */
    width: 0;
    height: 0;
}
.bentText2 {
    position: relative;
    top: 10px;
}

.window a:hover {
	background: #000;
	color: #FFF;
}

/* some animation tests - based on the book by Kirupa Chinnathambi - Creating Web Animations (2017) */
/* .clippy {
    animation: bobble 2s infinite;
} */

@keyframes bobble {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(5px);
    }
}

.window {
    transition: transform .5s;

    box-shadow: 0px 0px 3px rgb(114, 114, 114);
}
/* .window:hover {
    transform: scale3d(1.2, 1.2, 1);
    transform: rotate(3deg);
} */

#bg3d {
    position: absolute;
    right:20px;
    top: 20px;
    cursor: pointer;
}
#bg3d:hover {
    background: #000;
	color: #FFF;
}
#bgColorChanger {
    position: absolute;
    right:20px;
    top: 60px;
    cursor: pointer;
}
#bgColorChanger:hover {
    background: #000;
	color: #FFF;
}
#bgColorReset {
    position: absolute;
    right:20px;
    top: 80px;
    cursor: pointer;
}
#bgColorReset:hover {
    background: #000;
	color: #FFF;
}


#desktop {
    transition: background-color .5s ease-out;
}


.previewText {
    margin-top: 20px;
    text-align: center;
}

.wincontent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .wincontent iframe{
    flex-grow: 1;
} */



/*
 * RESPONSIVE DESIGN
 */

/* 
 * Default styles - for large (e.g. second) screens
 */
#window0 {	top: 5%;    left: 25%;}
#window1 {	top: 20%;   left: 3%;}
#window2 {	top: 15%;   left: 10%;}
#window3 {	top: 15%;   left: 17%;}
#window4 {	top: 10%;   left: 55%;}
#window5 {	top: 15%;   left: 40%;}
#window6 {	top: 10%;   left: 45%;}
#window7 {	top: 25%;   left: 30%;}
#window0 .wincontent {	width: 500px; height: 300px;	}
#window1 .wincontent {	width: 550px; height: 550px;	}
#window2 .wincontent {	width: 550px; height: 500px;	}
#window3 .wincontent {	width: 550px; height: 550px;	}
#window4 .wincontent {	width: 550px; height: 600px;	}
#window5 .wincontent {	width: 500px; height: 400px;	}
#window6 .wincontent {	width: 500px; height: 400px;	}
#window7 .wincontent {	width: 550px; height: 350px;	}

/*
 * Avoid windows disappearing though the bottom of screen in laptops with multiple browser menu bars
 */
@media screen and ((max-width:1280px) or (max-height:800px)){
    #window0 {  top: 2%;    left: 20%;}
    #window1 {	top: 9%;    left: 5%;}
    #window2 {	top: 10%;   left: 10%;}
    #window3 {	top: 8%;    left: 17%;}
    #window4 {	top: 3%;    left: 45%;}
    #window5 {	top: 15%;   left: 40%;}
    #window6 {	top: 10%;   left: 45%;}
    #window7 {	top: 25%;   left: 30%;}
}
@media screen and (max-width:1280px) {
    #shoutOuts {display: none   }
}

/*
 * Mobile phones or supper small desktop screens
 */
@media screen and (max-width:800px){
    html {
        font-size:80%;
    }
    .taskbarPanel {
        font-size: 12px;
    }
    #bgColorChanger {
        top: 160px;
    }
    #bgColorReset {
        top: 180px;
    }
    #taskbar {  height: 64px;   }
    #window0 {  top: 1%;    left: 1%;	}
    #window1 {  top: 1%;    left: 1%;	}
    #window2 {  top: 1%;    left: 1%;	}
    #window3 {  top: 1%;    left: 1%;	}
    #window4 {  top: 1%;    left: 1%;	}
    #window5 {  top: 1%;    left: 1%;	}
    #window6 {  top: 1%;    left: 1%;	}
    #window7 {  top: 1%;    left: 1%;	}
    #window0 .wincontent {  width: 90vw;   height: 80vh;  }
    #window1 .wincontent {  width: 90vw;   height: 80vh;  }
    #window2 .wincontent {  width: 90vw;   height: 80vh;  }
    #window3 .wincontent {  width: 90vw;   height: 80vh;  }
    #window4 .wincontent {  width: 90vw;   height: 80vh;  }
    #window5 .wincontent {  width: 90vw;   height: 80vh;  }
    #window6 .wincontent {  width: 90vw;   height: 80vh;  }
    #window7 .wincontent {  width: 90vw;   height: 80vh;  }

    iframe {
        width: 400px;
        height: 225px;
    }
}

