body {
    margin: 0;
}

.centerhorizontal {
    padding: 0;
    margin: auto;
    display: block;
}

.centervertical {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#canvaspixel {
    border: 1px solid black;
}

.halfwidth {

    max-width: 50%;
}