/* general page styles */
body {
    font-family: Consolas, 'Lucida Console', monospace;
}

.centerhorizontal {
    padding: 0;
    margin: auto;
    display: block;
}

/* center both horizontal and vertical */
.center {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.halfwidth {
    max-width: 50%;
}



/* my own column layout */
.column {
    float: left;
    width: 30%;
    min-width: 500px;
    min-height: 500px;
    margin: 10px 10px;
    position: relative; /* allow children to be absolutely positioned (e.g. <canvas> on top of <img>) - https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */
}

.innerColumn {
    float: left;
    width: 33%;
}

/* make all elements in a column display one below the other (block), align everything to center*/
.column > *, .innerColumn > * {
    display: block;
    text-align: center;
    margin: 20px auto;
}

.backHome {
    margin-bottom: 100px;
}



/* adjustments for individual elements */
#canvasmouse {
    border: 1px solid black;
    cursor: url(https://ani.cursors-4u.net/others/oth-9/oth839.cur), auto;
    position: absolute;
    top: 255px;
    left: 135px;
}
.camera {
    width: 400px;
    position: absolute;
    top: 95px;
    left: 95px;
    z-index: -1; /* move it to the back so user cant drag it */
}

#stringToArray {
    resize: none;
    background: #EEE;
}
#stringToArrayButton {
    width: 60px;
    height: 30px;
}

#canvaspixel {
    margin: 100px auto;
}




/*  style for zoom in/out buttons
/*  https://codepen.io/aotabi_/pen/KbamNX/
 */
 .button {
    width: 50px;
    height: 50px;
    background: #EEE;
    border: 1px solid #005bac;
    border-radius: 50%;
    color: #005bac;
    padding: 15px 10px 5px;
    position: relative;
    text-align: center;
    user-select: none;
    transition: all 0.3s ease;
    z-index: 1;

    margin: 20px auto;
    box-shadow: 0px 0px 3px rgb(114, 114, 114);
  }

.button:hover {
    background: #eef;
    cursor: pointer;
}




/* copied from retroWindowsStyle.css (with adjustments) to give the same look and feel as the homepage */
.window {
    position: absolute;
    border: 2px solid #000;
    background: #EEE;
	border-radius: 5px;
	z-index: 1000;

    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 0 !important;
}
.windowHeader {
    background-color: #8888d6;
    text-align: right;
    border-bottom: 2px solid #000;
    padding: 2px;
    height: 28px;
}
.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}
.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;

    width: 98.5%;
    height: 93%;
}

@media screen and (max-width:1600px){
    .window {
        min-height: 1300px;
    }
    .wincontent {
        padding: 0;
        height: 97%;
    }
    .backHome {
        padding: 10px;
    }
    .camera {
        left: 40px;
    }
    #canvasmouse {
        left: 80px;
    }
}
@media screen and (max-width:1200px){
    .window {
        min-height: 1800px;
    }
    .wincontent {
        height: 97.5%;
    }
    .backHome {
        margin-bottom: 0;
    }
}