body {
    font-family: Consolas, 'Lucida Console', monospace;
}

.centerhorizontal {
    padding: 0;
    margin: auto;
    display: block;
}

/* center both horizontal and vertical */
.center {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#canvaspixel {
    border: 1px solid black;
}

.halfwidth {

    max-width: 50%;
}


/*  style for zoom in/out buttons
/*  https://codepen.io/aotabi_/pen/KbamNX/
 */
.button {
    width: 50px;
    height: 50px;
    background: #FFF;
    border: 1px solid #005bac;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #005bac;
    padding: 15px 10px 5px;
    position: fixed;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    z-index: 1;
  }

.button:hover {
    background: #eef;
}

.zoom-in {
    bottom: 500px;
    right: 250px;
}

.zoom-out {
    bottom: 500px;
    
}
.zoom-reset {
    bottom: 500px;
    left: 250px;
}



#stringToArray {
    right: 1000px;
}
#stringToArrayButton {
    width: 60px;
    height: 30px;
    right: 1000px;
    top: 400px;
}
#stringToArrayIntro {
    width: 500px;
    height: 200px;
    right: 900px;
    bottom: 400px;
}